<!-- start: Footer Menu -->
<div id="footer-menu" class="hidden-tablet hidden-phone">
  <div class="row-fluid">
    <!-- start: Footer Menu Logo -->
    <div class="span2">
      <div id="footer-menu-logo">
        <a class="brand" href="/">
          <img src="/img/algorich_logo_footer.png" alt="Algorich" />
        </a>
      </div>
    </div>
    <!-- end: Footer Menu Logo -->

    <!-- start: Footer Menu Links-->
    <div class="span9">
      <div id="footer-menu-links">
        <ul id="footer-nav">
          <li><a href="//blog.algorich.com.br">Blog</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </div>
    </div>
    <!-- end: Footer Menu Links-->

    <!-- start: Footer Menu Back To Top -->
    <div class="span1">
      <div id="footer-menu-back-to-top">
        <a href="#"></a>
      </div>
    </div>
    <!-- end: Footer Menu Back To Top -->
  </div>
</div>
<!-- end: Footer Menu -->

<!-- start: Footer -->
<div id="footer">

  <!-- start: Row -->
  <div class="row-fluid">

    <!-- start: About -->
    <div class="span3">
      <h3>Sobre nós</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, voluptatum, quidem optio ducimus asperiores quisquam amet in odit vel repudiandae quaerat nisi ratione tempore veniam necessitatibus! Similique, id architecto est.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, eveniet, explicabo at pariatur voluptatibus enim labore aut esse.</p>
    </div>
    <!-- end: About -->

    <!-- start: Photo Stream -->
    <div class="span3">
      <h3>Onde nos encontrar</h3>
      <div>
        {% include address.html %}

        <p>
          <a href="http://goo.gl/maps/fOuhF" target="_blank">
            <img src="/img/map.png" alt="Algorich no mapa" id="app-map" />
          </a>
        </p>
      </div>
    </div>
    <!-- end: Photo Stream -->

    <!-- start: Follow Us -->
    <div class="span6">
      <h3>Sigam-me os bons!</h3>

      <p id="app-chapolin">
        <img src="/img/chapolin.png" alt="O Chapolin Colorado" />
      </p>

      <ul class="social-grid">
        <li>
          <div class="social-item">
            <div class="social-info-wrap">
              <div class="social-info">
                <div class="social-info-front social-facebook">
                  <a href="http://facebook.com/algorich"></a>
                </div>
                <div class="social-info-back social-facebook-hover">
                  <a href="http://facebook.com/algorich"></a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="social-item">
            <div class="social-info-wrap">
              <div class="social-info">
                <div class="social-info-front social-twitter">
                  <a href="http://twitter.com/algorich"></a>
                </div>
                <div class="social-info-back social-twitter-hover">
                  <a href="http://twitter.com/algorich"></a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="social-item">
            <div class="social-info-wrap">
              <div class="social-info">
                <div class="social-info-front social-github">
                  <a href="http://github.com/algorich"></a>
                </div>
                <div class="social-info-back social-github-hover">
                  <a href="http://github.com/algorich"></a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- end: Follow Us -->
    </div>

  </div>
  <!-- end: Row -->

</div>
<!-- end: Footer -->

<!-- start: Copyright -->
<div id="copyright">

  <p>
    &copy; 2013 <a href="http://algorich.com.br">Algorich</a>.
     Ilustrações de <a href="http://www.souzailustrador.com/">Murilo Souza</a>.
  </p>

</div>
<!-- end: Copyright -->


<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<!-- <script src="/js/jquery.isotope.min.js"></script> -->
<!-- <script src="/js/jquery.imagesloaded.js"></script> -->
<!-- <script src="/js/flexslider.js"></script> -->
<!-- <script src="/js/carousel.js"></script> -->
<!-- <script src="/js/jquery.cslider.js"></script> -->
<!-- <script src="/js/slider.js"></script> -->
<!-- <script src="/js/jquery.fancybox.js"></script> -->

<script src="/js/custom.js"></script>

<script defer src="http://sawpf.com/1.0.js"></script>
<!-- end: Java Script -->
