<head>

  <!-- start: Meta -->
  <meta charset="utf-8">
  <title>{{ page.title }} &mdash; Algorich</title>
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="algorich, desenvolvimento de software, web, desenvolvimento, sistemas, aplicativos, aplicações, software, mobile, celular, móveis, programação, ruby, rails, startup" />
  <meta name="author" content="Algorich - http://algorich.com.br" />
  <meta name="copyright" content="© 2013 Algorich" />
  <meta name="robots" content="index, follow" />
  <!-- end: Meta -->

  <!-- start: Config -->
  <meta http-equiv="content-language" content="pt-br" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/png"  href="/favicon.png" />
  <!-- end: Config -->

  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- end: Mobile Specific -->

  <!-- start: Facebook Open Graph -->
  <meta property="og:title" content="{{ page.title }} - Algorich"/>
  <meta property="og:site_name" content="algorich.com.br"/>
  <meta property="og:image" content="http://algorich.com.br/media/logo-white-brackground-square.png"/>
  <meta property="og:description" content="{{ page.description }}" />
  <!-- end: Facebook Open Graph -->

  <!-- start: CSS -->
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/overwrite.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
  <!-- end: CSS -->

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if IE 9]>
    <link href="css/styleie9.css" rel="stylesheet">
  <![endif]-->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23447419-1']);
    _gaq.push(['_setDomainName', 'algorich.com.br']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
