<!DOCTYPE html>
<html lang='pt'>

  {% include head.html %}

  <body>

    <!--start: Header -->
    <header>
      <!--start: Container -->
      <div class="container">
        <!--start: Navbar -->
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
              <img src="/img/algorich_logo.png" alt="Algorich" />
            </a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li>
                  <a href="/">Principal</a>
                </li>
                <li class="{% if page.id == 'trabalhe-conosco' %}active{% endif %}">
                  <a href="/trabalhe-conosco">Trabalhe conosco</a>
                </li>
                <li><a href='http://blog.algorich.com.br'><span>Blog</span></a></li>
                <li class="{% if page.id == 'contato' %}active{% endif %}">
                  <a href="/contato">Contato</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--end: Navbar -->
      </div>
      <!--end: Container-->
    </header>
    <!--end: Header-->

    {{ content }}
    {% include footer.html %}

  </body>
</html>
